<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.project.demo.dao.TestDao">

    <sql id="user_column">
        `id`,
        `code`,
        `name`,
        `insert_time`
    </sql>

    <insert id="insertUser" parameterType="com.wang.project.demo.entity.User">
        insert into wc_user
        (`code`,`name`,`insert_time`)
        values
        (#{code},#{name},#{insertTime})
    </insert>

    <!-- 查询所有用户 -->
    <select id="selectAllUser" resultType="com.wang.project.demo.entity.User">
        /* TestDao.selectAllUser */
        select
        <include refid="user_column"/>
        from wc_user
        where 1 = 1
    </select>

</mapper>